<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title  }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/default.css" />
        <link rel="stylesheet" type="text/css" href="/assets/main.css" />
        <script>
            window.onload = e => {
                let imgs = [
                    "montreal3.jpg", 
                ];
                let img = imgs[Math.floor(Math.random() * imgs.length)];
                console.log(img);
                document.getElementById("topImg").innerHTML = "<img src=\"/assets/" + img + "\" /><div id=\"imgCover\"></div>";
            }
        </script>
    </head>
    <body>
        <header>
            <section>
                <nav>
                    <div><a href="about.html">About</a></div>
                    <div><a href="projects.html">Projects</a></div>
                </nav>
                <a href="/"><img src="/assets/signature.png" height="40" /></a>
                <nav>
                    <div><a href="/contact.html">Contact</a></div>
                    <div><a href="/blog/index.html">Blog</a></div>
                </nav>
            </section>
        </header>
        <section id="topImg">
            <img src="/assets/{{ page.image }}" />
        </section>
        <section id="content">
            {{ content }}
        </section>
        <footer>
            <div>
                
            </div>
        </footer>
    </body>
</html>
