body {
	font-family: "Noto Sans";
	width: 60%;
	margin: auto;
	background: #282C34;
	color: #abb2bf;
}

#postamble {
		margin-top: 30px;
		border-top: thick solid #343843;
		padding: 30px 0;
}

.small {font-size: 0.8rem}
h1 + div > .small p { margin-top: 0 }
h2 + div > .small p { margin-top: 0 }
h3 + div > .small p { margin-top: 0 }
h4 + div > .small p { margin-top: 0 }
h5 + div > .small p { margin-top: 0 }

a { color: #61afef; }
h1 { color: #61afef; }
h2 { color: #56b6c2; }
h3 { color: #98c379; margin-bottom: 5px; }
h4 { color: #d19a66; }
h5 { color: #e06c75; }
h6 { color: #c678dd; }
h1 a { color: #61afef; }
h2 a { color: #56b6c2; }
h3 a { color: #98c379; }
h4 a { color: #d19a66; }
h5 a { color: #e06c75; }
h6 a { color: #c678dd; }

p.author {}

p.date {}

p.creator {}

.title { color: #61afef; }

.subtitle {}

.todo {}

.done {}

.WAITING {}

.timestamp {}

.timestamp-kwd {}

.timestamp-wrapper {}

.tag {}

._HOME {}

.target {}

.linenr {}

.code-highlighted {}

div.outline-N {}

div.outline-text-N {}

.section-number-N {}

.figure-number {}

.table-number {}

.listing-number {}

div.figure {}

pre.src {
	border: none;
	border-top: 12px solid #343843;
	border-bottom: 12px solid #343843;
	box-shadow: none;
	font-size: 1.2rem;
	padding: 1rem;
	margin-left: 0;
}

code {
	font-size: 1rem;
	color: #d19a66;
}

pre.example {}

p.verse {}

div.footnotes {}

p.footnote {}

.footref {}

.footnum {}

.org-svg {}

.validation { display: none; }

tbody tr td:not(:first-child):not(:last-child) {
		border-left: thin solid #abb2bf;
		border-right: thin solid #abb2bf;
		padding: 0 15px;
}

.outline-2 > .outline-text-2 > .org-center {
	display: none;
}

.cm-s-venom {
	font-size: 1em;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #0D0D0D;
	color: #BFBFBF;
}
.cm-s-venom .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-venom .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #0D0D0D;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-venom div.CodeMirror-cursor {
	border-left: 3px solid #BFBFBF;
}
.cm-s-venom .CodeMirror-activeline-background {
	background: #191919;
}
.cm-s-venom .CodeMirror-selected {
	background: #000000;
}
.cm-s-venom .cm-string {
	font-style: italic;
	color: #2E8C3C;
}
.cm-s-venom .cm-comment {
	font-style: italic;
	color: #3D5473;
}
.cm-s-venom .cm-number {
	color: #404251;
}
.cm-s-venom .cm-atom {
	color: #404251;
}
.cm-s-venom .cm-keyword {
	color: #6986BF;
}
.cm-s-venom .cm-variable {
	color: #6248A8;
}
.cm-s-venom .cm-def {
	color: #A7575C;
}
.cm-s-venom .cm-property {
	color: #404251;
}
.cm-s-venom .cm-operator {
	color: #6986BF;
}
.cm-s-venom .CodeMirror-linenumber {
	color: italic;
}
